/* Game Section */
.cardGame{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 100px;
}

.card{
    background-color: seagreen;
    max-width: 200px; /* dipende dalle dimesioni del contenuto */
    margin:10px;
    padding: 50px;
    font-size: 30px;
}

.title table{
    width: 100%;
    text-align: center;
}
.title table td{
    min-width: 75px;
    margin: 5px 20px
}