/* Title Section */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    display: inline;
}
/* Game Section */
.cardGame{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 18px;
}

.container{
    margin-top: 0px;
}
.card{
    background-color: seagreen;
    max-width: 200px; /* dipende dalle dimesioni del contenuto */
    margin:10px;
    padding: 50px;
    font-size: 30px;
}

.title table{
    width: 100%;
    text-align: center;
}
.title table td{
    min-width: 75px;
    margin: 5px 20px
}

