/* Game Section */
.cardGame{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 100px;
}

.card{
    background-color: seagreen;
    max-width: 200px; /* dipende dalle dimesioni del contenuto */
    margin:10px;
    padding: 50px;
}
