*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
}

.navbar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 60px;
    background-color: rgba(51,51,51,0.4);
}

#titleApp{
    font-weight: 400;
    font-size: 30px;
    margin:auto;
}
.container{
    margin-right:350px;
    margin-left:350px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-top: 40px;
}


#logo{
    max-width: 50px;
    margin:auto 0px auto 10px;
}
/* Player Section */

.center{
    display: flex;
    justify-content: flex-start;
}




#playerName{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#playerName input{
    min-height: 50px;
    font-size: 20px;
    margin: 0px 10px;
}

#playerName label{
    position: absolute;
    top: -21px;
    left: 10px;
}

button{
    height: 50px;
    padding: 0px 25px;
    margin: auto;
}

/* Levels Section */
.levels > div{
    background-color: grey;
    color: white;
    padding: 5px 20px;
    margin: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.levelCard{
    cursor: pointer;
}


.actions ul {
    display: flex;
    list-style-type: none;
    font-size: 30px;
}

.actions ul li{
    margin: 0px 5px;
    width : 34px
}

.completed{
    width: 100%;
    background-color: red;
    height: 99%;
}

@media screen and (max-width: 1024px){
    .container{
        margin-right:150px;
        margin-left:150px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-content:center;
        margin-top: 50px;
    }
}