*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    background-image: url("./assets/bg.jpg");
}

.navbar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 60px;
    background-color: rgb(172, 11, 11);
}

#titleApp{
    font-weight: 400;
    font-size: 30px;
    margin:auto;
    color: white;
}
.container{
    margin-right:250px;
    margin-left:250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-top: 40px;
}


#logo{
    max-width: 50px;
    margin:auto 0px auto 10px;
}
/* Player Section */

label{
    color: white;
}
.center{
    display: flex;
    justify-content: flex-start;
}

#restart{
    display: none;
}



#playerName{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#playerName input{
    min-height: 50px;
    font-size: 20px;
    margin: 0px 10px;
}

#playerName label{
    position: absolute;
    top: -21px;
    left: 10px;
}

button{
    height: 50px;
    padding: 0px 25px;
    margin: auto;
}

/* Levels Section */
.levels > div{
    background-color: grey;
    color: white;
    padding: 5px 20px;
    margin: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.levelCard{
    cursor: pointer;
}


.actions ul {
    display: flex;
    list-style-type: none;
    font-size: 30px;
}

.actions ul li{
    margin: 0px 5px;
    width : 34px
}

.completed{
    width: 100%;
    background-color: red;
    height: 99%;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 30px;
    margin:auto;
}
@media screen and (max-width:960px){
    .container{
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-content:center;
        margin-top: 50px;
    }

    h1{
        font-size: 20px
    }
    h1[nomegiocatore]{
        font-size: 2rem
    }

    .cardGame{
        grid-template-columns: auto auto!important;
    }
}